{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<style>
  p {
    text-indent: 20px;
  }
</style>
<div class="container col-lg-9 col-sm-12">
  <h3>
    Всем привет !! Меня зовут Андрей Жаров, и я автор данного проекта !!
  </h3><br>
  <p>
    Увлёкся IT с первого дня, когда у меня появился компьютер.
    Учился на факультете <b>АСУ (Автоматизированные Системы Управления и
        обработки информации).</b> Окончил с отличием.
  </p>
  <p>
    <b>Дипломный проект:</b> "Переход учебного заведения на свободное
    программное обеспечение (Linux, дистрибутив Ubunty)".
    <br>
    В данный момент обучаюсь в международном сервисе онлайн-образования
    "Яндекс.Практикум" на курсе <b>Python-разработчик плюс</b>.
  </p>
  <p>
    Хочу работать в интересном проекте с адекватной командой,
    где буду развиваться и приносить пользу.
  </p>
  <center><h5>
    Ссылка на мой аккаунт:
    <a href="https://github.com/kotttobormottt/" target="_blank">GitHub</a>
  </h5></center>
  <p>
    <img src="/static/img/ava_1.jpg"
    width="25%"
    class="center py-3"
    alt="^_^">
    <img src="/static/img/github.jpg"
    width="72%"
    class="center py-3"
    alt="^_^">
  </p>
</div>
{% endblock %}
